doctype html
html
    head
        title Welcome to MagicApp
        link(rel='stylesheet', href='/static/style.css')
    body
        div.container
            h1.container-header Welcome to MagicApp
            img.container-image_successLogIn(src='/static/img/success-icon.png')
            p.container-description Thank You! You have succesfull log in to MagicApp.  